* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #A8DADC;
    height: 100vh
}

h1 {
    color: #1D3557;
    text-shadow: 4px 4px #457B9D;
    background-color: #F1FAEE;
    padding: 0 2rem;
    border: 2px solid #1D3557;
}


#envelope {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border: 0.4em solid transparent;
    background: linear-gradient(#A8DADC, #A8DADC) padding-box,
        repeating-linear-gradient(-45deg,
            #E63946 0, #E63946 12.5%,
            transparent 0, transparent 25%,
            #1D3557 0, #1D3557 37.5%,
            transparent 0, transparent 50%) 0 / 8em 8em;
    background-color: none;
    font-family: fira code;
    font-size: 30px;
}


#d1dad {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dabba {
    height: 3rem;
    width: 34rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 30px;
    font-family: fira code;
    border: 0px;
    background-color: #A8DADC;
    color: #457B9D;

}

#dabba:hover {
    border-spacing: 0cap;
    /* box-shadow: 5px 5px rgb(255, 255, 255); */
}


#dabba:focus {
    outline: none;
}

#dabba::placeholder {
    color: #F1FAEE
}

#peddadabba {
    width: 30rem;
    height: auto;
    font-family: fira code;
    display: inline;
    background-color: #1D3557;
    padding: 3rem;
    box-shadow: 10px 10px 0px #E63946;
    border-radius: 10px;
    color: #F1FAEE;
}

h3 {
    width: 30rem;
    height: auto;
    font-family: fira code;
    display: inline;
    color: #F1FAEE;
    background-color: #1D3557;
    padding: 10px 3rem;
    margin: 0.9rem;
    border-radius: 10px;
}

.d2dad {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #daddy {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mummy {
    width: 100%;
    height: 100%;
    background-color: blue;
} */